################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build and IDE output
bin/
obj/
.vs/

# Local user settings
*.user
*.suo

*.vsidx

# Private NCTB source books; store locally or in private object storage
Content/NCTBBooks/**/*.pdf
